################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C-A08/.vs/C-A08/v16/Browse.VC.opendb
